@import "../../scss/variables";

.bottom-section {
    height: 50%;
    background: $primary-100;
    display: flex;
    padding: 4rem;

    .text-info {
        padding: 2rem;

        h1 {
            font-family: $font-family-condensed;
            color: $primary-600;
            margin: 0 0 1rem;
            font-size: 3.2rem;
        }

        h3 {
            font-family: $font-family-primary;
            color: $primary-600;
        }

        .matches {
            font-family: $font-family-primary;
            font-size: 1.6rem;
            background: $primary-400;
            color: $primary-100;
            width: 10.4rem;
            padding: 0.8rem;
            margin-top: 4rem;
            text-align: center;
        }
    }

    .textarea {
        width: 64%;
        height: 100%;
        padding: 2rem;
        padding-right: 0;
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
        .textarea-edit {
            font-family: $font-family-monospace;
            color: $primary-600;
            height: 100%;
            width: 100%;
            line-height: 2.8rem;
            
            
            span {
                background: $accent-100;
            }
        }
    }
}
