.bottom-section {
    flex-grow: 1;
    background: #e0e0e0;
    display: flex;


    .textarea {
        min-height: 12rem;
        position: relative;
        padding: 0 10px;
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        div {
            font-family: monospace;
            font-size: 1.2rem;

            span {
                background: darkgray;
            }
        }

        .textarea-edit {
            height: 100%;

        }
    }
}
