* {
    box-sizing: border-box;
}

.bottom-section {
    height: 50%;
    background: #e0e0e0;
    display: flex;


    .text-info {
        width: 36%;
        padding: 2rem;

        h1 {
            margin: 0 0 0.4rem;
        }

        .matches {
            background: blue;
            color: white;
            width: 6.4rem;
            padding: 0.4rem;
            margin-top: 2rem;
            text-align: center;
        }
    }

    .textarea {
        width: 64%;
        min-height: 12rem;
        position: relative;
        padding: 2rem;
        overflow-x: hidden;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        div {
            font-family: monospace;
            font-size: 1.2rem;

            span {
                background: darkgray;
            }
        }

        .textarea-edit {
            height: 100%;

        }
    }
}
