.top-section {
    background: #808080;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;

    .display-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        background: red;

        .header {
            position: relative;

            .regex-error {
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        .display-card-container {
            font-family: monospace;
            height: 4rem;
            display: flex;
            background: blue;
            
            span {
                font-size: 3rem;
            }

            .regex-char {
                position: relative;
                display: flex;
                align-items: center;

                span {
                    font-family: monospace;
                    font-size: 3rem;
                }
                
                input {
                    background: none;
                    box-sizing: border-box;
                    border: none;
                    font-family: monospace;
                    font-size: 3rem;
                    height: 3.2rem;
                    padding: 0;
                    width: 1.65rem;
                    
                    &:read-only:focus {
                        outline: none;
                    }
                }
            }
        }

        .regex-n-tooltips {
            display: flex;
            justify-content: space-between;
        }
    }
}
