@import "../../scss/variables";

.top-section {
    background: $primary-300;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;

    .display-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
        background: $primary-300;

        .header {
            position: relative;

            h1 {
                font-family: $font-family-condensed;
                color: $primary-600;
                font-size: 3.2rem;
                margin-bottom: 0.8rem;
            }

            h3 {
                font-family: $font-family-primary;
                color: $primary-600;
            }

            .regex-error {
                position: absolute;
                top: 0;
                right: 0;
                width: 32rem;
                height: 6.8rem;
                padding: 0.4rem 1.2rem;
                background: $error-100;
                border-left: 0.4rem solid $error-200;
                opacity: 0;
                &.on {
                    transition: opacity 0.3s ease-in-out;
                    opacity: 1;
                }

                h1,
                h3 {
                    color: $error-200;
                }
            }
        }

        .display-card-container {
            height: 9.6rem;
            display: flex;
            align-items: center;
            background: $primary-200;

            .add-a-character {
                font-size: 2.4rem;
                font-family: $font-family-condensed;
                letter-spacing: $letterspacing;
                color: $primary-500;
                opacity: 0.8;
                margin-left: 2rem;
            }

            span {
                font-size: 3rem;
            }
            .display-card {
                position: relative;
                margin: 0 2.4rem;
                background: $primary-100;
                
                img {
                    width: 1.6rem;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(-16%, -16%);
                }

                .regex-char {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    background: none;
                    box-shadow: 0 1px 8px $primary-500;
                    border-left: 0.4rem solid $primary-600;
                    padding: 1.6rem;
                    cursor: grab;


                    &:active {
                        cursor: grabbing;
                    }

                    span {
                        font-family: $font-family-monospace;
                        color: $primary-500;
                        font-size: 3rem;
                    }

                    input {
                        font-family: $font-family-monospace;
                        color: $primary-500;
                        background: none;
                        box-sizing: border-box;
                        border: none;
                        font-size: 3rem;
                        height: 3.2rem;
                        padding: 0;
                        width: 1.65rem;

                        &:read-only:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .regex-n-tooltips {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .tooltip,
            .regex {
                display: block;

                h3 {
                    font-family: $font-family-condensed;
                    font-weight: normal;
                    color: $primary-600;
                    font-size: 3.2rem;
                }
                p,
                .tooltip > p {
                    font-family: $font-family-condensed;
                    letter-spacing: $letterspacing;
                    color: $primary-500;
                    font-size: 2rem;
                }
            }
        }
    }
}
